@charset "utf-8";

body {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

#editor {
	margin: 1em 0;
	min-height: 16em;
	border: 1px #ccc solid;
}

a[role=menuitem] {
	cursor: pointer;
}

#droparea {
	margin: 32px;
	padding: 24px;
	border-radius: 12px;
	border: 4px #ccd dotted;
	text-align: center;
	display: none;
	color: #666;
}

#output {
	max-height: 20em;
	min-height: 10em;
	border: 1px #ccc solid;
	overflow: scroll;
}

#output>div {
	max-height: 3em;
	padding: 0.5em;
	border-top: 1px #ddd solid;
	padding-bottom: 0;
	margin-top: 0.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1em;
}

#output>div.itemError {
	color: #D00;
}

#output>div.itemInfo {
	color: #00D;
}

#output>div.expanded {
	max-height: 99em;
}

